<footer class="site-footer">
    
      <div class="wrapper">
        <div class="footer-wrapper">
          <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
          <p>
              IMAGINARY COPYRIGHT ©2017 {{ site.author | upcase }}. ALL RIGHTS RESERVED.<br>
              All trademarks referenced herein are the properties of their respective owners.
          </p>
          <p>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/terms-privacy">Privacy</a></li>
                  <li><a href="/terms-privacy">Terms</a></li>
                  <li><a href="#">^Top^</a></li>
              </ul>
          </p>
        </div>
      </div>
    
    </footer>


    <!--




        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>
                {% if site.author %}
                  {{ site.author | escape }}
                {% else %}
                  {{ site.title | escape }}
                {% endif %}
                </li>
                {% if site.email %}
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {% endif %}
            </ul>
          </div>
    
          <div class="footer-col footer-col-2">
            <p>
                IMAGINARY COPYRIGHT ©2017 {{ site.author }}. ALL RIGHTS RESERVED.<br>
                All trademarks referenced herein are the properties of their respective owners.
            </p>
          </div>
    
          <div class="footer-col footer-col-3">
            <p>{{ site.description | escape }}</p>
              <div class="footer-col-3-links">
                <ul>
                  <li><a href="/terms-privacy">Privacy</a></li>
                  <li><a href="/terms-privacy">Terms</a></li>
                </ul>
            </div>
          </div>
        </div>
    -->
