<footer class="site-footer">
    
      <div class="wrapper">
        <div class="footer-wrapper">
          <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
          <p>
              IMAGINARY COPYRIGHT ©2017 {{ site.author | upcase }}. ALL RIGHTS RESERVED.<br>
              All trademarks referenced herein are the properties of their respective owners.
          </p>
          <p>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/legal">Legal</a></li>
                  <li><a href="#">^Top^</a></li>
              </ul>
          </p>
        </div>
      </div>
    
    </footer>