@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$title-font-family: "Impact" !default;
$blog-title-font-family: "Courier" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #8560d1 !default;
$text-alt-colour:  #fdfdfd !default;
$background-color: #070016 !default;
$brand-color:      #2a7ae2 !default;
$frame-colour:     #15073d !default;
$blog-colour:      #030007 !default;

$wrapper-base:   #030007 !default;
$wrapper-colour:   transparentize($wrapper-base, 0.5) !default;

$special-colour:   orange !default;
$link-colour:      #4f82d6 !default;
$black-colour:     #000000 !default;
$black-colour-transparent: transparentize($black-colour, 0.5) !default;
$black-colour-transparent-darker: transparentize($black-colour, 0.15) !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Note: http://sass-lang.com/documentation/Sass/Script/Functions.html

// Width of the content area
$content-width:    1200px !default;
$blogitem-width:   $content-width / 2 - $spacing-unit !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
